/* ==========================================================================
   Individual component styles
   ========================================================================== */

.c-button {
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
}