/* ==========================================================================
   Indivisual component styles
   ========================================================================== */

.button{
	border-radius: 2px;
	cursor: pointer;
	padding: 10px;
}