/* ==========================================================================
   Highest specificity link classes here.
   ========================================================================== */

.u-link-normal {
  text-decoration: underline !important;
  color: inherit !important;
}

.u-link-obvious {
  text-decoration: underline !important;
}