/* ==========================================================================
   Highest specificity utility classes here.
   ========================================================================== */

.u-success{
	background-color: $bg-color-button-success!important;
	color: darken( $bg-color-button-success, 50% )!important;
}

.u-error{
	background-color: $bg-color-button-error!important;
	color: darken( $bg-color-button-error, 50% )!important;
}