# Ignore settings folders from the Webstorm IDE
.idea
*.iml

# Ignore settings folder from the Sublime Text editor
*.sublime-workspace

# Ignore cache files from SASS Parser
.sass-cache*

# Ignore the .gitignore
# .gitignore

# Ignore compiled css and map files

styles/css/*.*
