//import main Eureka file
@import "../sass/eureka.scss";
body {
    background: $secondary-color;
}

.search-input {
    background: transparentize($primary-dark-color, .31);
    border: 0.4375rem solid $generic-white-color;
    border-right: none;
    height: 2.25rem;
    text-align: right;
    width: 23.44rem;
    padding-right: 0.75rem
}

//replace.  Not using BEM because this will be replaced.
.button {
    position: relative;
    right: 0.18rem;
    background-color: #207cca;
    border: 0.4375rem solid $generic-white-color;
    border-left: none;
    color: #fafafa;
    height: 2.25rem;
    width: 5.563rem;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

//END Replace
