//import main Eureka file
@import "../sass/eureka.scss";
body {
    background-color: $secondary-dark-color;
}

.search-form {
    height: 3.625rem;
    border: 4px solid $generic-white-color;
    margin: auto;
}

.search-input {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
}

//replace.  Not using BEM because this will be replaced.
.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

//END Replace
