.main-content{
  background-color: $body-bg-color;
}

.vertical-menu {
  position: relative;
}

.demo-site-grid__sticky-nav {
  width: 100%;
}

.website-components{
  background-color: $generic-gray-color;
  padding: 2em;
  width: 82%;

  &__component{
    border-radius: 5px;
    background-color: $generic-white-color;
    padding: 2em;
    margin-bottom: 1em;
  }

}


