//Overrides for the Eureka Rose Theme

/* ==========================================================================
   Modal component styles
   ========================================================================== */

/* Modal styles
   ========================================================================== */

// Overlay
//No overrides

// Modal basic styles
%c-modal-basic {
    background-color: darken(#FBEEF4, 6%);
    border-radius: 6px;
}

.c-modal {
  @extend %c-modal-basic;

  &__header {
    background-color: darken($secondary-light-color, 4%);
  }

  &__body {
    //changed
    color: lighten($generic-black-color, 9%);
  }

  &__close {
    background-color: lighten($primary-dark-color, 12%);

    &:hover {
        //changed
      background-color: lighten($primary-dark-color, 2%);
    }
  }

}

.c-modal-overlay--full {
    background-color: transparentize(darken($secondary-light-color, 13%), 0.02);
}

// Basic specific styles
//no overrides

// Full-screen specific styles
// no overrides

// Fixed specific styles
//no overrides


//UNMODIFIED CODE BELOW THIS LINE

// Fade in and stick at top
.c-modal-transition--3 {
  @include transform-basic;
  transform: translateY(0%);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
