//changes size of search bar with single variable
//defaults to "normal" size 1.5
$search-second-size-multiplier: .7;
//form wrapper for search bar
.search-form-second {
    border-bottom-right-radius: 0.5125rem;
    border-radius: 0.3125rem;
    border-top-right-radius: 0.5125rem;
    border: ($search-second-size-multiplier * 0.1rem) solid transparentize($secondary-light-color, .8);
    display: flex;
    height: ($search-second-size-multiplier * 4rem);
    justify-content: flex-start;
    margin: auto;
    position: relative;
    width: ($search-second-size-multiplier * 30rem);
}

//search bar input
.search-input-second {
    background: $body-bg-color;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border: none;
    color: $secondary-dark-color;
    padding-left: ($search-second-size-multiplier * .8rem);
    flex-basis: 85%;
    font-family: $roboto-font-family;
    //Better consistency for browsers that don't support light tag
    font-size: ($search-second-size-multiplier * 1.7rem);
    text-align: left;
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: transparentize($secondary-light-color, .65);
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $generic-white-color;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $generic-white-color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $generic-white-color;
    }
    &:focus {
        border: 1px solid $primary-color;
    }
}

//button for user interactivity
//will incorporate style-guide button when ready
.search-button-second {
    background-color: lighten($body-bg-color, 12.5%);
    border: transparent;
    box-shadow: -5px 0 3px -4px $generic-black-color;
    cursor: pointer;
    color: #fafafa;
    flex-basis: 16%;
    margin-left: (-0.1875rem * $search-second-size-multiplier);
    &:hover {
        background-color: $body-bg-color;
    }
    &:click {
        border: 2px solid $generic-gray-color;
    }
}

.search-icon-second {
    color: transparentize($secondary-light-color, .63);
    font-size: ($search-second-size-multiplier * 2.5rem);
    pointer-events: none;
    position: absolute;
    right: 4%;
    top: 14.5%;
}
