/* Button
   ==========================================================================
*/
.c-btn-home {
  margin-top: 2em;
}

.c-btn {
  background: transparent;
  border: 0.1em;
  border-radius: 0.2em;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  line-height: 2.4em;
  margin: 0 0.5em;
  padding: 0.1em 1.2em;
  position: relative;
    &-i {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $generic-white-color;
      border-radius: 0;
      margin: 0;
      &:hover {
        background-color: $primary-dark-color;
        border-color: $primary-dark-color;
      }
      &:active {
        background-color: darken($primary-dark-color, 5%);
        border-color: $primary-dark-color;
      }
      &--diff {
        background-color: $secondary-color;
        border-color: $secondary-color;
        &:hover {
          background-color: $secondary-dark-color;
          border-color: $secondary-dark-color;
        }
        &:active {
          background-color: darken($secondary-dark-color, 5%);
          border-color: $secondary-dark-color;
        }
      }
      &--rd-l {
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
      }
      &--rd-r {
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
      }
    }
    &-gp {
      display: flex;
      padding-left: 0;
      margin: 1em 0.5em;
    }
    &--primary, &--primary--rounded {
      border-color: $primary-color;
      color: $primary-color;
        &:hover {
          background-color: $primary-color;
        }
        &:active {
          background-color: $primary-dark-color;
        }
    }
    &--secondary, &--secondary--rounded {
      border-color: $secondary-color;
      color: $secondary-color;
        &:hover {
          background-color: $secondary-color;
        }
        &:active {
          background-color: $secondary-dark-color;
        }
    }
    &--primary, &--secondary, &--primary--rounded, &--secondary--rounded {
      background-color: $generic-white-color;
      &:hover, &:active {
        color: $generic-white-color;
      }
    }
    &--primary--rounded, &--secondary--rounded {
      border-radius: 2em;
    }
    &__btn-icon {
      font-size: 13px;
    }
    &:focus {
      box-shadow: inset 0 0 0 .1em $primary-light-color;
      outline: 0;
    }
    &[disabled] {
      background-color: $secondary-dark-color;
      border: $secondary-dark-color;
      color: $generic-white-color;
    }
}
