/*===========================================
	pagination component styles
	==========================================*/

	.c-pagination {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}