.test{
  max-width: 500px;
}
.accordion{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  &__item{
    display:flex;
    flex-direction:column;
  }
  &__state{
    display:none;
    &:checked ~ .accordion__content{
      opacity: 1;
      max-height: 99em;
      padding: 0.5em;
      transform: scaleY(1);
      border-top: 0.2em solid $primary-color;
    }
    &:checked ~ .accordion__title--dark{
      margin-bottom: 0;
      color: $generic-white-color;
    }
    &:checked ~ .accordion__title--light{
      margin-bottom: 0;
      color: $body-bg-color;
    }
    &:checked ~ .accordion__title > .accordion__icon,
    &:checked ~ .accordion__title > span > .accordion__icon {
      transform: rotate(180deg);
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    text-transform: uppercase;
    &--dark{
      background-color: $body-bg-color;
      color: $generic-gray-color;
    }
    &--dark ~ .accordion__content{
      border: 1px solid $body-bg-color;
    }
    &--light{
      color: $body-bg-color;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__icon{
    // padding: 0 0.5em;
    text-align:center;
    transition: 0.5s ease-in-out;
    line-height: 1em;
  }
  &__content{
    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.25s ease;
    opacity: 0;
    &--dark{
      background-color: $body-bg-color;
      color: $generic-gray-color;
    }
  }
}
.icon-circle {
  border-radius: 50%;
  border: solid 1px $primary-color;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    color: $primary-color;
  }
}