.c-form-section {
  padding: 2em;
}

h3:last-of-type {
  margin-top: 1em;
}

[type="checkbox"], #example1 {
  left: -1em;
  position: absolute;
}

#example1a {
  left: -1.5em;
}

.c-form-checkbox {
  margin-bottom: .2em;
}

[type="checkbox"] + label:before {
  border: .0625em solid $secondary-color;
  border-radius: .1em;
  content: "";
  display: inline-block;
  height: 1em;
  left: 0;
  padding: .5em;
  position: absolute;
  width: 1em;
}

[type="checkbox"]:focus + label:before {
  box-shadow: 0 0 0 .05em $primary-color;
}


[type="checkbox"]:checked + label:after {
  color: $primary-color;
  content: "\2714";
  left: .1em;
  position: absolute;
}

[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 1.5em;
}

.c-input-checkbox-lg + label {
  font-size: 2em;

}
