.login-container {
    box-shadow: 5px 5px 5px 1px transparentize($generic-black-color, 0.22);
    opacity: 0.87;
}

.login-form-login-button {
    &:hover {
        background-color: #FBEEF4;
    }
}
