/**
 * Navigation Styles
 */

.nav {
  padding: 0;
  margin: 0;
  width: 100%;

  @at-root %transparent {
    background: transparent;
    color: $menu-text-color;
  }

  &, &--horizontal {
    @extend %transparent;
    display: flex;
  }

  &--vertical {
    &-left, &-right {
      @extend %transparent;
      display: inline-flex;
      flex-direction: column;
      height: auto;
    }
  }

  &--dark {
    background: $generic-black-color;
    color: $generic-white-color;
  }

  &--light {
    background: $generic-gray-color;
    color: $generic-black-color;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &__item {
    padding: 0.1em;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;

    &:hover {
      color: $primary-light-color;
    }

    &::before, &::after {
      background: $primary-color;
      content: '';
      position: absolute;
      transition: transform 0.3s linear;
    }

    &::before {
      left: 0;
      bottom: -0.1em;
      height: 0.3em;
      width: 100%;
      transform: scaleX(0);
    }

    &::after {
      right: -0.15em;
      top: 0;
      height: 100%;
      width: 0.3em;
      transform: scaleY(0);
    }

    &--active {
      color: $primary-color;

      &:hover {
        color: $primary-color;
      }

      &::before, &::after {
        //background: $primary-color;
        transform: scale(1, 1);
      }
    }
  }
}