/**
 * Navigation Styles
 */

.nav {
  padding: 0;
  margin: 0;

  &--horizontal {
    display: flex;
  }

  &--vertical {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    min-width: 20vw;
  }

  &--dark {
    background: $generic-black-color;
    color: $generic-white-color;
  }

  &--light {
    background: $generic-gray-color;
    color: $generic-black-color;
  }

  &--transparent {
    background: transparent;
    color: $menu-text-color;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &__item {
    padding: 0.1em;
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $primary-light-color;
      border-color: transparent;
    }

    &::before, &::after {
      background: $primary-light-color;
      content: '';
      position: absolute;
      transition: transform 0.3s linear;
    }

    &::before {
      left: 0;
      bottom: 1px;
      height: 0.3em;
      width: 100%;
      transform: scaleX(0);
    }

    &::after {
      right: 1px;
      top: 0;
      height: 100%;
      width: 0.3em;
      transform: scaleY(0);
    }

    &:hover::before {
      transform: scaleX(1);

    }

    &:hover::after {
      transform: scaleY(1);
    }

    &--active {
      color: $primary-color;

      &::before, &::after {
        background: $primary-color;
        transform: scale(1, 1);
      }
    }
  }

  &__link {
    //padding: 1em;
    display: inline-block;
  }
}
