/* ==========================================================================
   Badge component styles
   ========================================================================== */

/* Basic badge styles
   ========================================================================== */

@mixin transition($prop) {
  transition: $prop 0.2s;
}

.c-badge {
  font-size: 0.9em;
  text-align: center;
}

.c-badge--primary {
  @include transition(color);
  color: $primary-dark-color;
}

.c-badge--secondary {
  @include transition(color);
  color: $secondary-dark-color;
}

.c-badge--round {
  @include transition(background-color);
  padding: 0.26em 0.6em;
  border-radius: 1em;
  color: $generic-white-color;

  &--primary {
    background-color: $primary-dark-color;
  }

  &--secondary {
    background-color: $secondary-dark-color;
  }
}

.c-badge--square {
  @include transition(background-color);
  line-height: 1.5em;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5%;
  color: $generic-white-color;

  &--primary {
    background-color: $primary-dark-color;
    //&:hover {
    //  background-color: $primary-color;
    //}
  }

  &--secondary {
    background-color: $secondary-dark-color;
  }
}

// when the innerHTML of c-badge* is an empty string
.c-badge:empty {
  display: none;
}



/* Display components styles
   ========================================================================== */

//To override default link style
.badge-component__item {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  margin-right: 3em;

  a {
    border-radius: 3px;
    border: 1px solid $secondary-dark-color;
    color: $generic-black-color;
    width: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .c-badge--primary {
        color: $primary-color;
      }
      .c-badge--secondary {
        color: $secondary-color;
      }
      .c-badge--round--primary,
      .c-badge--square--primary {
        background-color: $primary-color;
      }
      .c-badge--round--secondary,
      .c-badge--square--secondary {
        background-color: $secondary-color;
      }
    }
  }
}

.badge-component__category {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: $secondary-dark-color;
  margin-top: 0.625em;
  margin-bottom: 1em;
}


/* Demo styles
   ========================================================================== */

.demo-badge {
  width: 20em;
  border: 1px solid $secondary-light-color;

  &__title {
    border-bottom: 2px solid $secondary-color;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1.2em;
    }
  }
}

.demo-badge__list {
  padding: 1em 0;
  flex-flow: column;

  li {
    margin: 0.8em 2em;

    .close {
      float: right;
      color: $secondary-dark-color;
      cursor: pointer;
    }
    label {
      @include transition(color);
      margin-left: 0.5em;
    }
    input:checked + label {
      color: $secondary-dark-color;
      text-decoration: line-through;
    }
  }
}
