h3 {
  margin-bottom: 2em;
}

.herald-section {
  margin-left: 1em;
}

.herald {
  padding-top: 1.5em;
  position: relative;
  &__scroll, &__message {
    position: relative;
  }
  &__scroll {
    // padding 200px x 320px width
    background-color: $generic-white-color;
    display: inline-block;
    overflow-y: hidden;
    padding-top: 3em;
    width: 21em;
  }
  &__indicator {
    border: .1em solid $primary-dark-color;
    height: 1em;
    top: 1em;
    width: 1em;
  }
  &__furled-scroll {
    box-shadow: inset -0.1em 0.1em 0 0.05em $primary-dark-color;
    height: 3em;
    top: 0;
    width: 3em;
  }
  &__indicator, &__furled-scroll {
    border-radius: 50%;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    right: 0;
  }
  &__message {
    padding: 0em 1em 1em;
    transform: translateY(-13em); /* Modify with JS */
    width: 10em; /* Modify here by dev */
    z-index: -1;
  }
  &__scroll-img {
    background-image: url("https://unsplash.it/430");
    @include background-img;
    transform: translateY(-13em) translateX(10em);
    width: 10em;
    top: 0;
  }
  &__ribbon {
    border-color: $primary-dark-color $primary-dark-color transparent $primary-dark-color;
    border-style: solid;
    border-width: 0 1em .5em 1em;
    right: 0;
    transform: translateY(-25em);
    width: 2em;
    z-index: 2;
  }
  &__chip {
    left: 0em;
    margin-left: 0; // I had to add this to override Jing's margin-left
    top: -.5em;
    z-index: 2;
  }
  &__scroll-img, &__message {
    border-top: medium solid $primary-dark-color;
  }
  &__furled-scroll, &__indicator, &__scroll-img, &__chip, &__ribbon {
    position: absolute;
  }
  &__ribbon, &__scroll-img {
    padding-top: 12.5em;
  }
  &__indicator, &__furled-scroll, &__message {
    background-color: transparent;
  }
}

.herald__chip:hover + .herald__scroll {
  animation: expand 1.2s ease-in-out forwards;
}

.herald__chip:hover + .herald__scroll > .herald__indicator {
  animation: indicate 1.2s ease-in-out forwards;
}

.herald__chip:hover + .herald__scroll > .herald__furled-scroll {
  animation: unfurl 1s .8s ease-in-out forwards;
}

.herald__chip:hover + .herald__scroll > .herald__furled-scroll > .herald__message {
  animation: dropMessage 1s 2s ease-in-out forwards;
}

.herald__chip:hover + .herald__scroll > .herald__scroll-img {
  animation: dropImg 1s 3s ease-in-out forwards;
}

.herald__chip:hover + .herald__scroll > .herald__scroll-img > .herald__ribbon {
  animation: dropRibbon 1.5s 3.5s cubic-bezier(0, 0, .8, 1.0) forwards;
}

@keyframes unfurl {
  0% {
    height: 3em; /* Modify here by dev */
    opacity: 1;
    width: 3em; /* Modify here by dev */
  }
  100% {
    height: .1em;
    opacity: 1;
    width: 22em; /* Modify here by dev */
  }
}

@keyframes expand {
  0% {
    opacity: 1;
    padding-top: 3em;
  }
  100% {
    opacity: 1;
    padding-top: 13.5em;
  }
}

@keyframes indicate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes dropMessage {
  0% {
    transform: translateY(-13em); /* Modify with JS */
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes dropImg {
  0% {
    transform: translateY(-13em) translateX(10em); /* Modify with JS */
  }
  100% {
    transform: translateY(0em) translateX(10em);
  }
}

@keyframes dropRibbon {
  0% {
    transform: translateY(-25em); /* Modify with JS */
  }
  70% {
    transform: translateY(-12.5em);
  }
  80% {
    transform: translateY(-14em);
  }
  90% {
    transform: translateY(-12.5em);
  }
  92% {
    transform: translateY(-13em);
  }
  100% {
    transform: translateY(-12.5em);
  }
}



// unfurls and then a div drops down from beneath the line
// use js to calculate height for padding top on scroll
// Determine the width of your message and scroll when it unfurls
