/* ==========================================================================
   Chip component styles
   ========================================================================== */

/* Basic chip styles
   ========================================================================== */

// Filled chips
%c-chip {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-size: 0.9em;
  color: darken($secondary-dark-color, 30%);
}

%c-chip__media {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  margin: 0 0.5em 0 -1em;
}

.c-chip__icon {
  font-size: 0.9em;
  font-weight: bold;
}

.c-chip__img {
  height:100%;
  width: 100%;
}

.c-chip__delete {
  float: right;
  margin-left: 0.5em;
  color: darken($secondary-dark-color, 20%);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: darken($secondary-dark-color, 35%);
  }
}

// Filled chips
.c-chip--filled {
  @extend %c-chip;
  background-color: lighten($secondary-light-color, 5%);
}

.c-chip__media--f {
  @extend %c-chip__media;
  background-color: $primary-dark-color;
  color: $generic-white-color;

  &--img {
    margin-left: -1.1em;
  }
}




// Outlined chips
.c-chip--outlined {
  @extend %c-chip;
  border: 2px solid lighten($secondary-light-color, 5%);

}

.c-chip__media--o {
  @extend %c-chip__media;
  border: 2px solid $primary-dark-color;
  color: $primary-dark-color;
  margin-left: -1.1em;

  > .c-chip__icon {
    color: inherit;
  }
}


/* Display components styles
   ========================================================================== */

#chips .c-chip--filled,
#chips .c-chip--outlined {
    margin: 0.5em 0.8em 0 0;
}

.chip-component--deletable {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}








