.c-gallery--clickable {
  height: 15.625em;
  width: 15.625em;
  cursor: pointer;
}

@each $nth, $img in (1, "http://res.cloudinary.com/azureowl/image/upload/v1488151619/placeholder1_mzeqic.png"),
                    (2, "http://res.cloudinary.com/azureowl/image/upload/v1488151623/placeholder2_gl44o6.png"),
                    (3, "https://unsplash.it/760"),
                    (4, "https://unsplash.it/853"),
                    (5, "https://unsplash.it/520") {
  .c-gallery--clickable:nth-of-type(#{$nth}) {
    background-image: url(#{$img});
    @include background-img;
  }
}

.c-gallery-viewer {
  display: none;
  @include background-img;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
