.progressbar-ex {
  padding: 2em;
}

.c-progress-toggle, .progressbar-ex > div {
  margin-top: 2em;
}

.c-progress-toggler {
  background-color: $secondary-dark-color;
  border-color: $secondary-dark-color;
  color: $generic-white-color;
}

.c-progress {
  background-color: $secondary-light-color;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  height: 1.2em;
  overflow: hidden;
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $generic-white-color;
    font-size: 0.8em;
    height: 100%;
  }
  &--rounded {
    border-radius: .6em;
  }
  &bar__meter, &bar__meter--stack {
    height: 1.2em;
  }
  &bar__meter {
    background-color: $primary-color;
    position: relative;
    width: 50%;
  }
  &bar__meter--stack {
    float: left;
    position: relative;
    &[aria-valuenow="30"] {
      background-color: $primary-color;
      width: 30%;
    }
    &[aria-valuenow="40"] {
      background-color: $primary-light-color;
      width: 40%;
    }
    &[aria-valuenow="10"] {
      background-color: $primary-dark-color;
      width: 10%;
    }
  }
  &bar__meter {
    background-image: linear-gradient(45deg, $primary-color 0%, $primary-light-color 50%, transparent 100%);
  }
}

.progress-animate {
  animation: progressbar 2s linear infinite;
}

@keyframes progressbar {
  0% {
    background-position: 60em 0;
  }
  100% {
    background-position: 0 0;
}
}
