.loader-parent {
  &--scroll-show {
    position: relative;
    overflow: auto;
  }

  &--scroll-hide {
    position: relative;
    overflow: hidden;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &-overlay {
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: $secondary-color;
    transition: opacity 0.3s;
    z-index: $infinity - 1;

    &--full-page {
      position: fixed;
    }

    &--hidden {
      display: none;
      opacity: 0;
    }

    &--visible {
      display: flex;
      opacity: 0.5;
    }
  }

  &__load-box {
    width: 5em;
    height: 5em;
    padding: 0;
    border-radius: 100%;
    position: relative;
    z-index: $infinity;

    &::before,
    &::after {
      top: 0;
      left: 0;
      border-radius: 100%;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      border: 0.4em solid $generic-black-color;
      border-top-color: $primary-dark-color;
      animation: rotate 0.8s linear 0s normal infinite forwards running;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


