.eureka-select {
    @extend .c-btn;
    background-color: $primary-color;
    border: 2px solid $body-bg-color;
    color: $generic-white-color;
    font-family: $roboto-light-font-family;
    font-size: 1.2rem;
    padding-bottom: 0.2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.2%;
    & option {
        background-color: transparentize($secondary-color, .10);
        border: 3px solid $body-bg-color;
        text-align: center;
    }
    &:focus {
        border: 2px solid $body-bg-color;
    }
}
