$easing-func: cubic-bezier(.2,.6,.7,.9);
$transition-timing: 0.6s;

.persona-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;

  @at-root .persona {
    color: $secondary-dark-color;;
    margin: 0;
    text-align: center;
    flex: 0 0 13em;
    padding: 2em 1em;
    border-radius: 0.4em;
    background: transparent;
    border: 0.2em solid transparent;
    transform: scale(0.9) translate(0, 0);
    transition: all $transition-timing $easing-func;
    cursor: pointer;

    &__image {
      width: 5em;
      height: 5em;
      margin-top: 1em;
      border-radius: 50%;
      transform: scale(1.1);
      transition: transform $transition-timing $easing-func;
    }

    &__name {
      margin-top: 1.5em;
      margin-bottom: 0;
      font-size: 1.3em;
    }

    &__title {
      color: $secondary-dark-color;
      margin-top: 0.2em;
      opacity: 0;
      transition: opacity $transition-timing $easing-func;
    }

    &__links {
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__link {
      font-size: 1em;
      opacity: 0;
      transition: opacity $transition-timing $easing-func;
      flex: 1;
      display: flex;
      justify-content: center;
    }

    &__icon {
      font-size: 1.2em;
      margin: 0;
      padding: 1px;
      
      &:hover {
        color: $primary-dark-color;
      }
    }

    &:hover {
      color: $generic-black-color;
      background: $generic-white-color;
      border-color: $primary-dark-color;
      transform: scale(1) translate(0, -40%);

      & .persona__image {
        transform: scale(1.5);
      }

      & .persona__title, & .persona__link {
        opacity: 1;
      }
    }

  }
}

