$close-icon-hover-color: #e74c3c;
$warning-color: #e74c3c;
$caution-color: #f7ca18;
.c-bookmarklet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75em 1em;
  background-color: $generic-gray-color;
  color: $generic-black-color;
  border: solid 1px $secondary-dark-color;
  border-radius: 0 0 0 0.2em;
  position: fixed;
  top: 10em;
  right: 0;
  width: 20em;
  transition: all 0.75s ease;
  transform: translateX(calc(100% + 3em));
  & h1 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    & i {
      margin-right: 0.25em;
    }
  }
  &--is-visible {
    transform: translateX(calc(87% + 2.75em));
    &:hover {
      transform: translateX(5%);
    }
  }
  & .c-bookmarklet__clear-all {
    margin: 0;
    width: 17em;
    text-align: center;
    border-color: darken($generic-gray-color, 3);
    &:hover {
      background-color: $close-icon-hover-color;
      border: solid 1px $close-icon-hover-color;
    }
  }
}

.c-bookmarklet__teaser {
  background-color: $generic-gray-color;
  padding: 0.75em;
  position: absolute;
  top: -1px;
  left: -2.25em;
  border-top: solid 1px $secondary-dark-color;
  border-left: solid 1px $secondary-dark-color;
  border-bottom: solid 1px $secondary-dark-color;
  border-radius: 0.2em 0 0 0.2em;
  color: $primary-color;
}

.c-bookmarklet__highlight-text {
  background-color: yellow; //default
}

.c-bookmaklet__bookmark-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.c-bookmarklet__bookmark-list-item {
  padding: 0.5em 2em 0.5em 1em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: solid 1px darken($generic-gray-color, 3);
  background-color: $generic-white-color;
  position: relative;
  border-radius: 0.2em;
  width: 17em;
  & a:first-of-type {
    padding: 0;
    color: $primary-color;
    flex: 1 1 100%;
  }
}

.c-bookmarklet__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0.2em 0 0;
  color: $secondary-dark-color;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover {
    color: $close-icon-hover-color;
  }
}

.c-bookmarklet__google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darken($generic-gray-color, 3);
  color: $secondary-dark-color;
  border-radius: 0.2em;
  padding: 0.4em 0;
  margin: 1em 34% 0.3em 0;
  font-size: 0.75em;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: $generic-white-color;
    background-color: $primary-color;
    border: solid 1px $primary-color;
  }
  & i {
    margin-left: 0.5em;
    margin-top: 0.2em;
  }
}

.c-bookmarklet--remove {
  animation: c-bookmarklet--fade-out 0.5s cubic-bezier(0.54, -0.21, 0.37, 0.92);
}

.c-bookmarklet__alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 1em 0.5em 1em;
  border-radius: 0.2em;
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 50;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, 0);
  animation: c-bookmarklet__alert--pop-in 0.4s forwards ease-in-out;
  color: $generic-white-color;
  &--warning {
    @extend .c-bookmarklet__alert;
    background-color: $warning-color;
    & i {
      color: lighten($warning-color, 15);
    }
  }
  &--caution {
    @extend .c-bookmarklet__alert;
    background-color: $caution-color;
    & i {
      color: darken($caution-color, 15);
    }
  }
  &--is-dismissed {
    animation: c-bookmarklet__alert--pop-out 0.4s forwards ease-in-out;
  }
  & p {
    margin-top: 0.5em;
    font-size: 1.1em
  }
}

.c-bookmarklet__alert-background {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  animation: c-bookmarket--fade-in-bg 0.4s forwards ease;
  &--caution {
    @extend .c-bookmarklet__alert-background;
    background-color: transparentize($generic-black-color, 0.25);
  }
  &--warning {
    @extend .c-bookmarklet__alert-background;
    background-color: transparentize($generic-black-color, 0.25);
  }
  &--is-dismissed {
    animation: c-bookmarket--fade-out-bg 0.4s forwards ease;
  }
}

@keyframes c-bookmarklet--fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes c-bookmarklet__alert--pop-in {
  0% {
    top: 30%;
    opacity: 0;
  }
  100% {
    top: 25%;
    opacity: 1;
  }
}

@keyframes c-bookmarklet__alert--pop-out {
  0% {
    top: 25%;
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}

@keyframes c-bookmarket--fade-in-bg {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes c-bookmarket--fade-out-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}
