/* ==========================================================================
   Chip component styles
   ========================================================================== */

/* Basic chip styles
   ========================================================================== */

.c-chip {
  outline: none;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: lighten($secondary-light-color, 5%);
  border-radius: 1em;

  font-size: 0.9em;
  color: darken($secondary-dark-color, 30%);

  &__media {
    display: inline-block;
    float: left;
    height: 2em;
    line-height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: $primary-dark-color;
    margin: 0 0.5em 0 -1em;
    padding: 0;
    text-align: center;
    overflow: hidden;

    &--initial {
      font-size: 1em;
      color: $generic-white-color;
    }

    > .c-chip__icon {
      font-size: 0.9em;
      color: $generic-white-color;
      font-weight: bold;
    }

    > .c-chip__img {
      height:100%;
      width: 100%;
    }
  }

  &__delete {
    float: right;
    margin-left: 0.5em;
    color: darken($secondary-dark-color, 20%);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: darken($secondary-dark-color, 35%);
    }
  }
}

/* Display components styles
   ========================================================================== */

[class^='chip-component--'] {
  margin: 2em;

  h4 {
    margin-bottom: 0.8em;
  }

  .c-chip {
    margin-right: 0.8em;
    margin-top: 0.5em;
  }
}

.chip-component--deletable {
  min-height: 6.25em;
}



/* Demo styles
   ========================================================================== */

.demo-chip__label {
  display: block;
  width: 40%;
  min-width: 20em;
  position: relative;
  left: 1em;
  //border: 1px solid red;

  .c-chip {
    position: relative;
    //left: 0;
    top: 0;
    //transform: translateY(-50%);

  }

  .demo-chip__input {
    position: absolute;
    top: 0;
    left: 0;
    //left: 1em;
    //width: 40%;
    //min-width: 20em;
    //height: 100%;
    width: 100%;
    font-size: 0.9em;
    color: $secondary-dark-color;
    padding: 0.8em 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $secondary-color;
    background-color: transparent;
    transition: border-bottom-color 0.2s, box-shadow 0.2s;

    //padding-left: ;

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  height: 100%;
    //  width: 100%;
    //  //border-bottom: 2px solid blue;
    //  transition: border-bottom-color 0.5s;
    //
    //}

    &:focus {
      border-bottom-color: $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
  }
}




