/* ==========================================================================
   Modal component styles
   ========================================================================== */

/* Modal styles
   ========================================================================== */

@mixin position-top {
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;;
}

%modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  visibility: hidden;
}

.c-modal-overlay {
  @extend %modal-overlay;

  background-color: $generic-gray-color;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s;
}

.c-modal-overlay--full {
  @extend %modal-overlay;
  background-color: $primary-light-color;
  opacity: 0;

}

%c-modal-basic {
  z-index: 10000;
  background-color: $primary-light-color;
  font-size: 1em;
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: scale(0) rotate(360deg);

  transition: all .5s;
  //overflow: auto;
  min-width: 18em;
  width: 50%;
  max-width: 25em;
  min-height: 20em;
  //max-height: 80%;
  //padding: 2em;

  //display: none;
}

.c-modal {
  @extend %c-modal-basic;

  &__content {
    width: 100%;

    //border: 1px solid red;
  }

  &__header {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
    background-color: $primary-dark-color;
    color: $generic-white-color;
    border-radius: 3px 3px 0 0;
  }

  &__body {
    margin: 0;
    padding: 2em 3em;
    color: lighten($generic-black-color, 20%);
    line-height: 1.5em;

    //border: 1px solid red;

    &:last-of-type {
      //margin-bottom: 1.5em;
    }
  }

  &__footer {
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    font-size: 1.1em;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    background-color: lighten($primary-dark-color, 10%);
    color: $generic-gray-color;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $primary-dark-color;
    }
  }

}

// Basic specific styles
.c-modal--basic {
  @extend %c-modal-basic;
  @include position-top;

  &__header {
    background-color: $primary-dark-color;
  }
}

// Full-screen specific styles
.c-modal--full {
  @extend %c-modal-basic;
  font-size: 1.2em;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;

  //transform: ;

  .c-modal__header {
    background-color: $primary-light-color;
  }
}

// Fixed specific styles
.c-modal--fixed {
  @extend %c-modal-basic;
  @include position-top;

  .c-modal__body {
    background-color: darken($generic-gray-color, 3%);
    height: 18em;
    overflow-y: auto;
  }
}

.c-modal--dialog {
  @extend %c-modal-basic;
  @include position-top;

  .c-modal__body {
    background-color: darken($generic-gray-color, 3%);
    border-radius: 3px 3px 0 0;
  }

  .c-modal__footer {
    justify-content: flex-end;

    .c-modal__close:last-of-type {
      margin-left: 1.5em;
      background-color: $primary-dark-color;

      &:hover {
        background-color: darken($primary-dark-color, 10%);
      }
    }
  }
}



//.c-modal__content {
//  width: 100%;
//  height: 100%;
//  overflow: auto;
//}
//.c-modal__header {
//  margin-bottom: 0;
//  padding: 0 30px;
//}
//
//.c-modal__body {
//  padding: 0 30px;
//  color: rgba(0,0,0,0.7);
//}
//
//.c-modal__body:last-of-type {
//  margin-bottom: 50px;
//}

.modal-component input:checked + [class^='c-modal-overlay']{
  visibility: visible;
  opacity: 0.6;
}

.c-modal:target {
  opacity: 1;
  pointer-events: all;
  transform: scale(1) rotate(0deg);
}




/* Modal buttons that trigger modals
   ========================================================================== */

.modal-component input {
  display: none;
}


.modal-triggers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  //margin-bottom: 1.5em;
}

