.demo-site-grid {
  padding-right: 4vw;
}

.vertical-menu {
  display: flex;
  justify-content: flex-end;
  width: 18%;
}

.nav--sticky {
  width: 18%;
}

a.normal {
  text-decoration: underline;
  color: inherit;
  padding: 0;
}
