.eureka-header{
  background-color: $header-bg-color;
<<<<<<< 6b32627d5d986dce5388d8a4446eaabb47fc2d86
  padding: 1em 1em 0 1em;
  color: $menu-text-color;

  &__logo{
    display: flex;
    align-items: center;

  }

  &__logo-image{
    max-height: 4em;
    max-width: 4em;
  }

  &__logo-text{
    padding-left: 0.6em;

    &--top{
      font-size: 2em;
      margin: 0;
    }
    &--bottom{
      margin: 0;
    }
  }

  &__menu{

  }
=======
>>>>>>> Start working on website header.
}