//overrides for the eureka rose theme.
// Disable this file for "vanilla" eureka

//----------settings.colors overrides----------

// Color Palette - Always use generic names and do not include actual color name in variable names
$primary-light-color: #EB6797;
$primary-color: #EE98B4;
$primary-dark-color: #EB6797;

$secondary-light-color: #bbb7d6;
$secondary-color: #a5a1bd;
$secondary-dark-color: #8f8ba3;

$body-bg-color: #30353b;
$header-bg-color: #22262a;
$menu-text-color: #71869c;
$menu-text-active-color: #c3c8ce;
$nav-title-text-color: #e8e8e8;

$generic-white-color: #EDEFEE;
$generic-black-color: #212121;
$generic-gray-color: #f3f3f3;
/* Table colors */
$table-highlight-color: #f4f4f4;

//-----------componenet.login overrides----------
