// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Source+Sans+Pro');

$default-font-size: 16px;
$roboto-font-family: 'Roboto', 'Helvetica', sans-serif;
$roboto-light-font-family: 'Roboto Light', 'Helvetica Light', 'Roboto', 'Helvetica', sans-serif;
$source-sans-pro-font-family: 'Source Sans Pro', 'Helvetica', sans-serif;

$infinity: 9999;
