/**
 * Framework wide variables for color
 */

// Color Palette - Always use generic names and do not include actual color name in variable names
$primary-light-color: #a1deec;
$primary-color: #51d0ef;
$primary-dark-color: #42aec8;

$secondary-light-color: #d7d7d7;
$secondary-color: #bdbdbd;
$secondary-dark-color: #a4a4a4;

$body-bg-color: #30353b;
$header-bg-color: #22262a;
$menu-text-color: #71869c;
$menu-text-active-color: #c3c8ce;
$nav-title-text-color: #e8e8e8;

$generic-white-color: #fff;
$generic-black-color: #212121;
$generic-gray-color: #f3f3f3;
/* Table colors */
$table-highlight-color: #f4f4f4;
