.nav, .nav--horizontal {
  & .nav__item::after {
    display: none;
  }
}

.nav--vertical-left, .nav--vertical-right {
  & .nav__item::after {
    display: block;
  }

  & .nav__item::before {
    display: none;
  }
}

.nav--vertical-left {
  & .nav__item {
    justify-content: flex-end;

    & .nav__link {
      text-align: right;
      flex: 1;
    }
  }
}

.nav--vertical-right {
  & .nav__item {
    justify-content: flex-start;

    & .nav__link {
      text-align: left;
      flex: 1;
    }
  }
}

.nav--vertical-right {
  .nav__item::after {
    left: -0.15em;
  }
}