/**
 * Import various partials. ordering is important here.
 */

@import "settings.global";
@import "settings.colors";
//@import "settings.grid";

@import "tools.mixins";

@import "generic.normalize";
@import "generic.reset";
@import "generic.box-sizing";
@import "generic.global";

@import "elements.links";
@import "elements.lists";
@import "elements.headers";

//@import "objects.wrappers";
@import "objects.grid";

@import "components.alert";
@import "components.carousel";
@import "components.collapse";
@import "components.pagination";
@import "components.badges";
@import "components.chips";
@import "components.modals";
@import "components.buttons";
@import "components.progressbar";
@import "components.breadcrumb";
@import "components.navigation";
@import "components.scrollspy";
@import "components.cards";
@import "components.separator";
@import "components.accordion";
@import "components.stepper";
@import "components.search";
@import "components.tooltip";
// @import "components.login";

//@import "trumps.buttons";
//@import "trumps.links";

@import "trumps.utilities";
@import "trumps.navigation";
